<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <base href="<%- BASE_HREF %>">
    <title>Nouveau projet</title>
</head>

<body>
    <div id="coreContainer"></div>
</body>

</html>
